'fileTypes': [
  'ch'
  'chap'
  'chapter'
]
'name': 'Chapters'
'firstLineMatch': "(?i)^\\s*(ch|chapter)"
'patterns': [
  {
    'begin': '\['
    'end': '\]'
    'name': 'comment'
  }
  {
    'match': '[-+]?\\d\\+([\\.]\\d+)?'
    'name': 'constant.numeric'
  }
]
'scopeName': 'source.chapters'
