'name': 'Chapters'
'scopeName': 'source.chapters'
'type': 'tree-sitter'
'parser': 'tree-sitter-chapters'
'fileTypes': [
  'ch',
  'chapter',
  'chapters'
]

'scopes':
  # Apply the classes `syntax--builtin` and `syntax--variable` to all
  # `identifier` nodes whose text is `require`.
  'identifier': {exact: 'United States', scopes: 'builtin.class.name'},
  #
  # # Apply the classes `syntax--type` and `syntax--integer` to all
  # # `primitive_type` nodes whose text starts with `int` or `uint`.
  # 'primitive_type': {match: /^u?int/, scopes: 'type.integer'},
  #
  # # Apply the classes `syntax--builtin`, `syntax--class`, and
  # # `syntax--name` to `constant` nodes with the text `Array`,
  # # `Hash` and `String`. For all other `constant` nodes, just
  # # apply the classes `syntax--class` and `syntax--name`.
  # 'constant': [
  #   {match: /^(Array|Hash|String)$/, scopes: 'builtin.class.name'},
  #   'class.name'
  # ]
