'scopeName': 'source.chapters'
'name': 'Chapters'
'firstLineMatch': "(?i)^\\s*(ch|chap|chapter)"
'limitLineLength': no
'maxTokensPerLine': 1000
'fileTypes': [
  'ch'
  'chap'
  'chapter'
]
'parser': 'language-chapters'
